#hero {
  color: white;
  background-image: url("../img/IMG_8965.png");
  background-size: auto 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: auto;
  min-height: 200px;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }
  #hero #name {
    margin-left: 0.7em;
    font-size: 7vw; }
  #hero #info {
    margin-left: 3em;
    font-size: 1.4vw;
    opacity: 0.45; }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    #hero #name {
      font-size: 13vw; }
    #hero #info {
      font-size: 3vw;
      opacity: 0.45; } }

#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e13948;
  height: 12vh; }
  #menu #menuBar {
    display: flex;
    list-style-type: none;
    margin-right: 12vw; }
    #menu #menuBar #menuItems {
      margin: 0 0 0 1vw;
      color: white;
      text-decoration: none; }
    #menu #menuBar #menuItems:hover {
      color: #888a97; }
  #menu #logo {
    margin: 0 0 0 12vw;
    height: 10vh;
    width: 10vh; }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  #menu #menuBar {
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #menu #menuBar #menuItems {
      margin: 0; } }
.content {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%; }

.placeholder {
  margin: 5vh 12vw 0 12vw;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .placeholder .box {
    height: 45%;
    width: 46%;
    box-shadow: 1px 1px 50px #4c4c4d; }
  .placeholder .box:nth-child(1) {
    background: url("../img/stock1.jpg") center;
    background-size: 100% auto; }
  .placeholder .box:nth-child(2) {
    background: url("../img/stock2.jpg") center;
    background-size: 100% auto; }
  .placeholder .box:nth-child(3) {
    background: url("../img/stock3.jpg") center;
    background-size: 100% auto;
    width: 56%; }
  .placeholder .box:nth-child(4) {
    background: url("../img/stock4.jpg") center;
    background-size: 100% auto;
    width: 36%; }
